<p><%= list.name %></p>
  <% tasks.each do |task| %>
    <div class='tasks'>
      <p><%= task.body %></p>
    </div>
  <% end %>

<button type="new" class="new-task"><%= link_to "New Task", new_list_task_path %></button>
